*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#06111f;
color:white;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#081829;

position:fixed;
width:100%;
z-index:1000;

}

nav ul{

display:flex;
list-style:none;

}

nav ul li{

margin-left:30px;

}

nav ul li a{

text-decoration:none;
color:white;

transition:.3s;

}

nav ul li a:hover{

color:#00bfff;

}

.logo{

font-size:28px;
font-weight:bold;

color:#00bfff;

}

.hero{

height:100vh;

background:url('images/ktwo.png');

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

}

.overlay{

background:rgba(0,0,0,.65);

width:100%;
height:100%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}

.hero h1{

font-size:70px;

}

.hero p{

font-size:28px;

margin:20px;

}

.btn{

background:#00bfff;

padding:15px 40px;

border-radius:50px;

color:white;

text-decoration:none;

transition:.3s;

}

.btn:hover{

background:#007acc;

}

.intro{

padding:100px 10%;

text-align:center;

}

.services{

padding:80px 10%;

}

.services h2{

text-align:center;

margin-bottom:50px;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:30px;

}

.card{

background:#0d2237;

padding:40px;

border-radius:20px;

text-align:center;

transition:.4s;

cursor:pointer;

}

.card:hover{

transform:translateY(-15px);

box-shadow:0 0 30px #00bfff;

}

.card i{

font-size:50px;

color:#00bfff;

margin-bottom:20px;

}

footer{

background:#081829;

padding:30px;

text-align:center;

margin-top:50px;

}

html{

scroll-behavior:smooth;

}

/* Navigation */

#navbar{

transition:.4s;

background:rgba(0,0,0,.4);

backdrop-filter:blur(10px);

}

.scrolled{

background:#06111f;

box-shadow:0 10px 30px rgba(0,0,0,.4);

}

/* Mobile */

.menu-btn{

display:none;

font-size:30px;

cursor:pointer;

}

.stats{

padding:100px 10%;

text-align:center;

}

.counter-container{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:30px;

margin-top:60px;

}

.counter-box{

background:#0b2038;

padding:50px;

border-radius:20px;

transition:.3s;

}

.counter-box:hover{

transform:translateY(-10px);

box-shadow:0 0 20px #00bfff;

}

.counter{

font-size:55px;

color:#00bfff;

}

.whatsapp{

position:fixed;

bottom:30px;

left:30px;

background:#25D366;

width:65px;

height:65px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:34px;

color:white;

z-index:999;

box-shadow:0 0 20px #25D366;

}

#topBtn{

position:fixed;

right:30px;

bottom:30px;

width:60px;

height:60px;

border:none;

border-radius:50%;

background:#00bfff;

color:white;

font-size:24px;

cursor:pointer;

display:none;

}

@media(max-width:900px){

.menu-btn{

display:block;

}

.nav-links{

position:absolute;

top:80px;

left:-100%;

width:100%;

background:#081829;

flex-direction:column;

transition:.4s;

}

.nav-links.active{

left:0;

}

.nav-links li{

margin:25px;

}

}

#particles-js{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
background:#051221;
}

.pricing{

padding:100px 10%;

}

table{

width:100%;

border-collapse:collapse;

}

table tr{

background:#0d2237;

}

table td,th{

padding:18px;

border:1px solid #0af;

}

th{

background:#00bfff;

}

.testimonials{

padding:100px;

text-align:center;

}

.testimonial{

background:#10233f;

padding:40px;

margin:20px auto;

max-width:700px;

border-radius:20px;

transition:.3s;

}

.testimonial:hover{

box-shadow:0 0 30px #00bfff;

}

.contact-form{

padding:100px;

}

.contact-form form{

display:flex;

flex-direction:column;

gap:20px;

max-width:700px;

margin:auto;

}

input,textarea{

padding:18px;

background:#10233f;

color:white;

border:none;

border-radius:10px;

}

button{

padding:18px;

background:#00bfff;

border:none;

cursor:pointer;

font-size:18px;

}

.light{

background:white;

color:black;

}